global
    log stdout format raw local0

defaults
    log global
    mode tcp
    timeout connect 2s
    timeout client  30m
    timeout server  30m
    option tcplog

frontend forca_tcp
    bind *:5050
    default_backend forca_nodes

backend forca_nodes
    option tcp-check
    server primary primary:5050 check inter 1s fall 2 rise 1
    server backup  backup:5050 check inter 1s fall 2 rise 1 backup

listen stats
    mode http
    bind *:8404
    stats enable
    stats uri /
    stats refresh 2s
